*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

/* fonts */
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* Header */
header{
  /* border: 5px solid tomato; */
  max-width: 1280px;
  height: 700px;
  margin: 0 auto;
  background-color: black;
  margin-bottom: 50px;
}
/* Nav */
nav{
  max-width: 1110px;
  height: 70px;
  background-color: #1B1B1B;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.nav-about{
  display: flex;
  /* border: 5px solid blueviolet; */
  margin: 24px 95px 28px 95px;
  gap: 70px;
  list-style: none;

}
.nav-about li a{
  text-decoration: none;
  font-size: 14px;
  color: #9C9C9C;
}

.contact-icon{
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-right: 95px;
}

/* Intro */
.intro{
  /* border: 2px solid blue; */
  max-width: 1110px;
  height: 350px;
  margin: 150px 180px 0 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info{
  /* border: 2px solid tomato; */
  width: 500px;
  height: 240px;
}
.name{
  font-size: 44px;
  font-weight: bolder;
  color: white;
}
.about-info{
  color: #9C9C9C;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.intro button{
   width: 307px;
   height: 63px;
   background-color: #3F8E00;
   border-radius: 4px;
   box-shadow: 0 0 8px #62BA1B;
   border: none;
}
.intro button a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.intro button:hover{
  background-color: rgba(255, 0, 0, 0.575);
  cursor: pointer;
  box-shadow: 0 0 10px orangered;
  transition: calc(.5s);
}
.intro button:hover a
{
  font-size: 20px;
  transition: calc(.5s);
}

/*head-foot*/
.head-footer{
  /* border: 2px solid orange; */
  width: 1013px;
  height: 98px;
  margin: 0 auto;
  margin-left: 180px;
}
.company{
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.logo-box{
  width: 160px;
  height: 60px;
  border: 1px solid #1B1B1B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.company-logo{
   width: 90px;
   height: 20px;
}
.footer-title{
  font-size: 14px;
  color: white;
}

/* Case-study */
.study
{
  /* border: 3px solid orange; */
  max-width: 897px;
  height: 1242px;
  margin: 0 auto;
}

.study-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.study-cap{
  font-size: 34px;
  font-weight: bolder;
  color: #080808;
}
.study-head p{
  font-size: 14px;
  line-height: 24px;
  color: #9C9C9C;
}

.case-detail{
  max-width: 892px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.case-detail span{
  background-color: rgb(255, 245, 232);
  border-radius: 60px;
  width: 72px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #FFA217;
  margin-left: 10px;
  margin-bottom: 20px;
}
.case-detail h2{
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.case-detail p{
  font-size: 14px;
  color: #9C9C9C;
  line-height: 24px;
}
.case-detail button{
  width: 190px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #FFA217;
  margin-top: 40px;
  margin-bottom: 17px;
}
.case-detail button a{
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.case-detail button:hover{
  background-color: lightseagreen;
  cursor: pointer;
  box-shadow: 0 0 10px teal;
  transition: calc(.5s);
}
.case-detail button:hover a
{
  color: black;
  font-size: 15px;
  transition: calc(.5s);
}
.cases{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* testimonial */
#testimonial{
  max-width: 1280px;
  height: 804px;
  margin: 0 auto;
  background-color: #080808;
  margin-top: 80px;
}
.test-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}
.test-head h2{
  font-size: 34px;
  font-weight: bolder;
  color: white;
}
.test-head p{
  font-size: 14px;
  line-height: 20px;
  color: #9C9C9C;
  text-align: center;
}
.test-detail{
  width: 1280px;
  display: flex;
  /* border: 2px solid orange; */
  margin: 0 auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* padding: 0px 180px 0 180px; */
}
.row{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.client
{
  max-width: 445px;
  height: 212px;
  border: 1px solid #484848;
  border-radius: 5px;
  padding-left: 30px;
  padding-top: 20px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  
}
.client p{
   font-size: 14px;
   line-height: 24px;
   color: #9C9C9C;
   margin-bottom: 30px;
}
.client-info{
  display: flex;
  gap: 20px;
}
.client-info span{
  position: relative;
  top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
